.wrapper    {
    margin:auto;
    width:960px;
}
section.concertenTitel{
    text-align:right;
    width:960px;
}
table{
    float: right;
    }
.concertImg{
    display:inline;
}
.concertDetails{
    float:right;
    text-align:center;
    display:inline;
    padding-top:20px;
    padding-right:50px;
}
.michaelDetails{
    float:right;
    text-align:center;
    display:inline;
    padding-top:20px;
}
article.text1{
    width:18%;
    display:inline-block;
}
article.text2{
    width:18%;
    display:inline-block;
    vertical-align:top;
}
article.text3{
    width:18%;
    display:inline-block;
    vertical-align:top;
}
.michaeldiv{
    display:inline;
}
section.michaelImgs{
    width:30%;
    float:left;
}
.youtube {
    position: absolute;
    right: 375px;
    top: 350px;
    width: 20%;
}