.wrapper{
    margin:auto;
    width:960px;
}
.sportImgs{
    padding:10px;
}
.titelDing{
    padding-left: 20px;
}
section.sportImgs{
    width:60%;
    float:left;
}
img.sportImgs{
    width:25%;
}
article.sportText1{
    width:35%;
    display:inline-block;
    vertical-align:top;
}
article.sportText2{
    width:25%;
    padding-left:50px;
    vertical-align:top;
    float:left;
}
article.sportText3{
    width:25%;
    vertical-align:top;
    display:inline;
}
.voetbalImgs{
    display:inline;
    padding-left:20px;
    padding-right:20px;
}
.voetbalImgs1{
    display:inline;
}
.voetbalArticles{
    display:inline-block;
    float:left;
    width:175px;
    padding-left:40px;
    padding-top:20px;
    padding-right:10px;

}
.voetbalArticles1{
    display:inline-block;
    width:175px;
    padding-top:20px;
}
.voetbalArticles2{
    width:175px;
    display:inline-block;
    padding-top:20px;
    vertical-align: top;
}
.voetbalImgs2{
    display:inline-block;
    padding-top: 20px;
    vertical-align:top;
}
.titelding2{
    float:left;
    padding-left:40px;

}
.titelding3{
    float:right;
    padding-right:400px;
}
